.login-card {
    width: 500px;
    border-radius: 18px;
    background: white;
  }
  
  .login-logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
  
  .input-group-text {
    background-color: #a11010;
  }
  